{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Head goes here -->
{% include './includes/head.html' %}


<body>
  <!-- header start-->
  {% include './includes/header.html' %}

  <!-- navbar goes here -->
  {% include './includes/nav.html' %}
  <!-- header end -->

  {% block content %}

  {% endblock %}


  <!-- footer -->
  {% include './includes/footer.html' %}

  <!-- footer ends -->

  <!-- scripts -->
  {% include './includes/script.html' %}

  <!-- scripts -->

</body>

</html>